@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
}


hr{
	width: 450px;
	height: 2px;
  	background: grey;
}

.navbar{
	font-size: 16px;
	top:0;
	left:0;
}

.navbar-light .navbar-nav .nav-link{
	padding:0 20px;
	color:black;
	transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
	color:CORAL;
}

.navbar i{
	font-size:1.2rem;
	padding: 0 7px;
	cursor:pointer;
	font-weight: 500;
	transition: 0.3s ease;
}

#bar{
	font-size:1.5rem;
	padding:7px;
	cursor:pointer;
	font-weight:500;
	transition:0.3s ease;
	color: black;
}

#bar:hover,
#bar.active{
	color: lightgray;
}

@media only screen and (max-width:991px){
	body > nav > div > button:hover,
	body > nav > div > button:focus{
		background-color:white; 
	}

	body > nav > div > button:hover #bar,
	body > nav > div > button:focus #bar{
		background-color:white; 
	}


	#navbarSupportedContent > ul{
		margin: 1rem;
		justify-content: flex-end;
		align-items: flex-end;
		text-align:right;
	}

	#navbarSupportedContent > ul > li:nth-child(n) > a{
		padding:10px 0;
	}
}

/*Mobile Nav*/
.navbar-light .navbar-toggler{
	border:none;
	outline:none;
}


/*CONTENT*/
.contact{
	position: relative;
	min-height: 100vh;
	padding: 10px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact .content{
	width: 80%;
	margin: 50px auto;
}

.container_contact{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_contact .contact-right{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container_contact .contact-right .box{
	position: relative;
	padding: 20px 0px;
	display: flex;
}

.contact-left{
	margin: 50px auto;
	width: 35%;
	padding: 60px;
}

.contact-left .input-group{
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contact-left .input-group input,
.contact-left .input-group textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contact-left .input-group span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
}

.contact-left .input-group input:focus ~ span,
.contact-left .input-group input:valid ~ span,
.contact-left .input-group textarea:focus ~ span,
.contact-left .input-group textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact-left .input-group input[type="submit"]{
	width: 100px;
	background: black;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 5px;
	font-size: 18px;
}